<div id="wrapper">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Scraper News</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saved">Saved Articles</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger scrape">Scrape Articles</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <header>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4 text-center">Scraper News</h1>
    <h4 class="my-4 text-center">Powered By Google News</h4>
    <h2>Article Headings</h2>
  </div>
  {{#each saved}}
  <div class='col-lg-3 col-sm-6 portfolio-item'>
    <div class='card h-100'>
      <a href='{{this.link}}'><img class='card-img-top' src='{{this.photo}}' alt=''></a>
      <div class='card-body'>
        <h4 class='card-title'>
          <a href='{{this.link}}'>{{this.title}}</a>
        </h4>
        <a href='{{this.link}}'> <p data-id='{{this._id}}' class='card-text'></p>
        </a>
        <button type='button' data-toggle='modal' data-target='#{{_id}}' data-backdrop='false' d-id='{{this._id}}' d-title='{{this.title}}'
          d-link='{{this.link}}' d-photo='{{this.photo}}' class='btn btn-info note'>Article Notes
        </button>
        <button type='button' d-id='{{this._id}}' d-title='{{this.title}}' d-link='
             {{this.link}}' d-photo='{{this.photo}}' class='btn btn-danger delete '>Delete Article</button>
      </div>
    </div>
  </div>
  <div class='modal' id='{{this._id}}' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Notes</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body text-center'>

          {{#each this.note}}
          <strong>{{this.title}}</strong>
          <p>{{this.body}}</p>
          {{/each}}

          <form action=' ' id='{{this._id}}'> Note Title:
            <input type='text' id='titleinput{{this._id}}' name='usrname'><br> Article Note:
            <textarea id='bodyinput{{this._id}}' rows='4' cols='50' name='comment' form='{{this._id}}'> 
                </textarea>
            <br>
            <input class='btn btn-light' d-id='{{this._id}}' id='savenote' type='submit'>
          </form>
          <br>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal '>Close</button>
        </div>
      </div>
    </div>
  </div>

  {{/each}}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2018</p>
    </div>
    <!-- /.container -->
  </footer>
</div>
<script src="./save.js"></script>